div{
    vertical-align: top;
    text-align : center;
    width: 20%;
    display: inline-block;
  }
  #nav {
    list-style: none;
    font-weight: bold;
  }
  #nav li{
    margin-right:10px;
    position:relative;
    display:block;
  }
  #nav li a{
    display:block;
    padding:5px;
    color: #1bc342;
    background:rgba(0,0,0,0);
    text-decoration:none;
    text-align:center;
    border:none;
    font-family: Century Gothic, Geneva, sans-serif;
    font-weight:bold;
    font-size: 1.2em;
  
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
  }
  #nav li a:hover{
    background: rgb(220,220,220); /* Выглядит полупрозрачным */
    text-decoration:underline;
  }
  
  /*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
  #nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
  }
  #nav ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
  }
  #nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
  }
  #nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    top: 0;
    left:90%; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
  }
  #nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background-color: rgb(220,220,220); /* Выглядит полупрозрачным */
    text-decoration:underline;
  }
  #nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
  }
  #nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:#333;
    color: #fff;
    background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
  }
  