<h3>Форма заявки на прокат животного из зоопарка</h3>

<div>
  <form>
      <div>
          <label> Выберите зоопарк </label>
          <select class="form-control form" formControlName="zoo" (change) = onZooChange($event.target.value)>
              <option *ngFor="let zoo of zoos" [value]="zoo.id">  
                  {{zoo.name}}
              </option>
          </select>
  
          <label> Выберите животное </label>
          <select class="form-control form" formControlName="animal" (change) = onAnimalChange($event.target.value)>
              <option *ngFor="let animal of animals" [value]="animal.value">  
                  {{animal.display}}
              </option>
          </select>

          <label>ФИО</label>
          <input class="form-control form " type="text" formControlName="name" [(ngModel)]="name"/>

          <label>Цель</label>
          <input class="form-control form" type="text" formControlName="purpose" [(ngModel)]="purpose"/>

          <label>Email адрес для связи с представителем зоопарка</label>
          <input class="form-control form" type="text" formControlName="email" [(ngModel)]="email" />

          <label>Дата взятия</label>
          <input class="form-control form" type="date" formControlName="dateTake" [(ngModel)]="dateTake" />

          <label>Дата возврата</label>
          <input class="form-control form" type="date" formControlName="dateReturn" [(ngModel)]="dateReturn"/>
      </div>
      <br><button (click) = sendRequest() class="btn btn-success" type="submit">Отправить заявку</button>
  </form>

</div>