<div>
  <select class="form-control dropdowns" (change) = onZooChange($event.target.value)>
            <option *ngFor="let zoo of zoos" [value]="zoo.id">
                {{zoo.name}}
            </option>
        </select>
</div>

<h2>Подробнее о зоопарке</h2>
<p><b>Название зоопарка:</b> <i>{{zooId.name}}</i></p>
<p><b>Местоположение:</b> <i>{{zooId.place}}</i></p>
<p><b>Директор зопарка:</b> <i>{{zooId.manager}}</i></p>
<p><b>Дата открытия:</b> <i>{{zooId.date}}</i></p>
<p><b>Количество животных:</b> <i>{{zooId.animals}}</i></p>
<p><b>Количество сотрудников:</b> <i>{{zooId.employees}}</i></p>
{{errorMsg}}
