<form action="javascript:void(null);" method="post" id="reg-form">
  <img src="../../assets/logo.png" width="50%" class="img-responsive" alt="Логотип">
  <h3>Регистрация</h3>
  <input type="email" name="email" placeholder="Email" required class="form-control input-lg">
  <input type="text" name="name" placeholder="Имя" required class="form-control input-lg">
  <input type="password" class="form-control input-lg" id="password" placeholder="Пароль">
  <textarea name="info" placeholder="Информация" required class="form-control input-lg"></textarea>
  <button type="submit" class="btn btn-lg btn-success btn-block">Зарегестрироваться</button>
</form>
