<div>
  <h1>Параметры поиска:</h1>

  <form [formGroup]="searchForm" (submit) = onSubmit() novalidate>

     <div>
       <label> Предмет поиска </label>
        <select class="form-control dropdowns" formControlName="subject" (change) = onSubjectChange($event.target.value)>
            <option *ngFor="let subject of subjects" [value]="subject.value">
                {{subject.display}}
            </option>
        </select>

        <label> Тип </label>
        <select class="form-control dropdowns" formControlName="type" (change) = onTypeChange($event.target.value)>
            <option *ngFor="let type of types" [value]="type.id">
                {{type.name}}
            </option>
        </select>
    </div>

    <div>
        <label> Зоопарки </label>
        <select class="form-control dropdowns" formControlName="zoo" (change) = onZooChange($event.target.value)>
            <option *ngFor="let zoo of zoos" [value]="zoo.id">
                {{zoo.name}}
            </option>
        </select>

        <label>Дата</label>
        <input class="input-group" type="date" formControlName="date" />

    </div>
    <br>
    <button type="submit" class="btn btn-success" >Найти</button>
  </form>
</div>

<div>
    <label>Результаты поиска</label>

    <ul>
        <li *ngFor="let r of results" [value]="r.id">
            <a *ngIf="mode==1" routerLink="/oneAnimal/{{r?.id}}">{{r.name}} </a>
            <a *ngIf="mode==2" routerLink="/oneEvent/{{r?.id}}">{{r.name}} </a>
            <a *ngIf="mode==3" routerLink="/oneMention/{{r?.id}}">{{r.name}}</a>
        </li>
    </ul>
</div>
