<div>
  <h1>Информация о аккаунте</h1>
  <h4><b>Ваш логин:</b> <i>{{account.login}}</i></h4>
  <h4><b>Имя:</b> <i>{{account.name}}</i></h4>
  <h4><b>Email:</b> <i>{{account.email}}</i></h4>
  <h4><b>Дополнительная информация:</b> <i>{{account.info}}</i></h4><br>
</div>

<button class="succes succes-succes inputs" type="button">Выйти из аккаунта</button>

<div>
  <h3>Настройки аккаунта</h3>

  <h4>Изменить личную информацию</h4>
  <div class="form-group">
      <label>Имя:</label> 
      <input class="form-control other" (change) = newName($event.target.value) type="text" />
  </div>
  <div class="form-group">
      <label>Email:</label> 
      <input class="form-control inputs" (change) = newEmail($event.target.value) type="email" />
  </div>
  <div class="form-group">
      <label>Информация:</label> 
      <textarea class="form-control other" (change) = newInfo($event.target.value)></textarea>
  </div>
  <button (click) = changeInfo() class="btn btn-success" type="button">Обновить профиль</button>

  <br>
  <h4>Изменить пароль</h4>
  <div class="form-group">
      <label>Введите действующий пароль:</label> 
      <input class="form-control inputs" (change) = oldPassword($event.target.value) type="password" /> 
      <p *ngIf="!show" class="alert alert-danger inputs"> Неверный пароль </p>
  </div>
  <div>
      <label>Введите новый пароль: </label>  
      <input class="form-control inputs" (change) = newPassword($event.target.value) type="password" /> <br>    
  </div>
  <button (click) = changePassword() class="btn btn-success" type="button">Изменить пароль</button>
  <p *ngIf="succes" class="succes succes-succes inputs"> Ваш пароль был изменен </p>
</div>